<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/weblogo.ico" type="image/icon">

    <title>Error</title>
</head>

<body>

    <br><br>
    <div class="container text-center">
        <h2 class="text-center"><b>Opps !!!</b></h2>
        <br>
        <h3><b>Error :</b> Wrong Input, Please try again <b>:(</b></h3><br>
        <a class="btn btn-warning btn-lg" style="border: 1px solid black;" href="/" role="button"><b>Try Again</b></a>
    </div>

</body>

</html>